<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand links-nav">Meteorologist</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
          <li><a href="/street_to_coords/new" class="links-nav">Street to Coordinates</a></li>
          <li><a href="/coords_to_weather/new" class="links-nav">Coordinates to Weather</a></li>
          <li><a href="/street_to_weather/new" class="links-nav">Street to Weather</a></li>
      </ul>
    </div>
  </div>
</nav>
