    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="list-group">
        <a href="/street_to_coords/new" class="list-group-item">
          <i class="fa fa-map-signs"></i>
          <i class="fa fa-long-arrow-right"></i>
          <i class="fa fa-map-marker"></i>
          Street to Coordinates
        </a>
        <a href="/coords_to_weather/new" class="list-group-item">
          <i class="fa fa-map-marker"></i>
          <i class="fa fa-long-arrow-right"></i>
          <i class="fa fa-sun-o"></i>
          Coordinates to Weather
        </a>
        <a href="/street_to_weather/new" class="list-group-item">
          <i class="fa fa-map-signs"></i>
          <i class="fa fa-long-arrow-right"></i>
          <i class="fa fa-sun-o"></i>
          Street to Weather
        </a>
      </div>
    </div>
